@use "@styles/color";
@use "@styles/font";

.checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox {
  appearance: none;
  border: 1px solid color.$gray-300;
  border-radius: 6px;

  &.medium {
    width: 20px;
    height: 20px;
  }

  &.small {
    width: 16px;
    height: 16px;
  }

  /* stylelint-disable no-descending-specificity */

  &:indeterminate {
    border: 1px solid color.$primary-600;

    &.small {
      background: url("/icons/intermediate.svg") no-repeat 2px 6px
        color.$primary-50;

      &:disabled {
        background: url("/icons/minusgray.svg") no-repeat -0.5px -0.5px
          color.$gray-100;
      }
    }

    &.medium {
      background: url("/icons/intermediate.svg") no-repeat 4px 8px
        color.$primary-50;

      &:disabled {
        background: url("/icons/minusgray.svg") no-repeat 1.5px 1.5px
          color.$gray-100;
      }
    }
  }

  &:checked {
    border: 1px solid color.$primary-600;

    &.small {
      background: url("/icons/checked.svg") no-repeat 2px 4px color.$primary-50;

      &:disabled {
        background: url("/icons/checkgray.svg") no-repeat -1px 0 color.$gray-100;
      }
    }

    &.medium {
      background: url("/icons/checked.svg") no-repeat 4px 5.5px
        color.$primary-50;

      &:disabled {
        background: url("/icons/checkgray.svg") no-repeat 1.5px 1.5px
          color.$gray-100;
      }
    }
  }

  /* stylelint-enable no-descending-specificity */

  &:hover {
    border-color: color.$primary-600;
    background-color: color.$primary-50;
  }

  &:disabled {
    border-color: color.$gray-200;
    background-color: color.$gray-100;
  }

  &:focus {
    border-color: color.$primary-300;
    box-shadow: 0 0 0 4px #f4ebff;

    &:checked,
    &:indeterminate {
      border-color: color.$primary-600;
    }
  }
}

.label {
  color: color.$gray-700;

  &.small {
    font: font.$text-sm-medium;
    padding-left: 8px;
    padding-top: 1px;
  }

  &.medium {
    font: font.$text-md-medium;
    padding-left: 12px;
    padding-top: 2px;
  }

  &.disabled {
    color: color.$gray-300;
  }
}
